body {
	color: rgb(255, 255, 255);
	font-family: 'Comfortaa', cursive;
}


video {
	position:fixed;
	top:50%;
	left:50%;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-100;
	transform:translateX(-50%) translateY(-50%);
	background-size:cover;
	transition:1s opacity;
}

a {
	color: #22c8f7;
}

#unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1 {
	font-weight: bold;
	font-size: 64px;
}

#main {
	height: 200px;
    width: 500px;
	margin-top: -100px;
    margin-left: -250px;
    position: fixed;
    top: 50%;
    left: 50%;
	text-align: center;
	vertical-align: middle;
}

#particles-js{
	position:fixed;
	top:50%;
	left:50%;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-100;
	transform:translateX(-50%) translateY(-50%);
	background-size:cover;
	transition:1s opacity;
}